body {
  margin: 0;
  background-color: black;
}
html {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.mid-section .container {
  padding: 0 72px;
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.menu-container {
  background-color: transparent;
  color: #ffffff;
}
.menu li a {
  color: #ffffff;
  text-decoration: none;
}
.menu {
  display: flex;
  gap: 48px;
  list-style: none;
}
.header .container {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 32px 72px;
  justify-content: space-between;
  width: 88%;
}
.hero-banner-text {
  color: #FFFFFF;
  background-color: #181823;
  margin-left: 540px;
  height: 900px;
}
.text-absolute {
  position: absolute;
  margin-top: 268px;
}
.img-absolute {
  position: absolute;
  margin-top: 125px;
}
.text-absolute h1 > span {
  color: rgba(255, 255, 255, 0.5);
}
.menu-btn {
  display: none;
}
.mid-section .container > p {
  margin-top: 120px;
}
.mid-section .container > h2 {
  font-size: 55px;
}
.mid-section .container .container-flex {
  display: flex;
  gap: 72px;
  margin-bottom: 144px;
}
.container-size > h2 {
  font-size: 117px;
  color: #8491a0;
  margin: 0;
}
.container-size > h3 {
  font-size: 24px;
}
.google span {
  color: #3cc74e;
}
.facebook span {
  color: #609bff;
}
.dribbble span {
  color: #e95d90;
}
.container-mid-section .container {
  display: flex;
  justify-content: space-between;
  background-color: #fff3e4;
}
.mid-section-text > h2 {
  margin-left: 72px;
  margin-top: 120px;
  font-size: 55px;
  color: #181823;
}
.mid-section-text p {
  margin-left: 72px;
  color: #5b6876;
  font-size: 18px;
}
.text {
  margin-top: 133px;
  margin-left: 72px;
}
.text > p {
  color: #000000;
  margin-left: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1439px) {
}
@media screen and (max-width: 1280px) {
  .menu-container > h1 {
    font-size: 59px;
    position: absolute;
  }
  .menu-container > p {
    font-size: 16px;
    margin-top: 420px;
  }
}
@media screen and (max-width: 1024px) {
  .mid-section .container {
    padding: 0 20px;
  }
  .header .container {
    flex-direction: column;
  }
  .img-absolute {
    position: relative;
    max-width: 100%;
    margin-top: 0;
  }
  .menu {
    position: absolute;
    top: 0;
    display: none;
  }
  .menu-btn {
    display: block;
    position: absolute;
    top: 24px;
    right: 20px;
  }
  .logo-container-row > .logo {
    margin-left: -88%;
  }
  .menu-container {
    height: auto;
  }
  .menu-container > h1 {
    position: relative;
    margin-top: 48px;
    margin-left: 20px;
  }
  .menu-container > p {
    position: relative;
    margin-top: 16px;
    margin-left: 20px;
    margin-bottom: 48px;
  }
  .logo-container-row {
    width: 100%;
    align-items: center;
  }
  .mid-section .container .container-flex {
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }
  .mid-section .container > p {
    margin-top: 64px;
  }
  .container-mid-section .container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .text {
    margin-bottom: 48px;
    margin-top: 33px;
  }
  .mid-section-text > h2,
  .mid-section-text > p,
  .text {
    margin-left: 20px;
  }
  .mid-section-text > h2 {
    margin-top: 46px;
  }
}
@media screen and (max-width: 768px) {
  .logo-container-row {
    align-items: flex-start;
  }
  .logo-container-row > .logo {
    margin-left: 20px;
  }
  .mid-section .container .container-flex {
    align-items: flex-start;
  }
  .container-mid-section .container {
    align-items: flex-start;
  }
}
@media screen and (max-width: 576px) {
  .menu-container > h1 {
    font-size: 32px;
  }
  .mid-section .container > h2 {
    font-size: 32px;
  }
  .mid-section-text > h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 420px) {
}
