body {
  margin: 0;
  background-color: black;
}
html {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.mid-section .container {
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.menu-container {
  background-color: transparent;
  color: #ffffff;
}
.menu li a {
  color: #ffffff;
  text-decoration: none;
}
.menu {
  display: flex;
  gap: 48px;
  list-style: none;
}
.header .container {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 32px 72px;
  justify-content: space-between;
  width: 88%;
}
.hero-banner-text {
  color: #ffffff;
  background-color: #181823;
  margin-left: 540px;
  height: 900px;
}
.text-absolute {
  position: absolute;
  margin-top: 180px;
  margin-right: 40px;
}
.text-absolute > h1 {
  font-size: 76px;
  margin-bottom: 0;
  margin-left: 140px;
}
.text-absolute > p {
  font-size: 18px;
  margin-top: 32px;
  margin-left: 140px;
}
.img-absolute {
  position: absolute;
  margin-top: 125px;
}
.text-absolute h1 > span {
  color: rgba(255, 255, 255, 0.5);
}
.menu-btn {
  display: none;
}
.mid-section .container > p {
  margin-top: 120px;
  margin-left: 72px;
}
.mid-section .container > h2 {
  font-size: 55px;
  margin-left: 72px;
}
.mid-section .container .container-flex {
  display: flex;
  gap: 24px;
  margin-bottom: 144px;
  margin-left: 72px;
  margin-right: 72px;
}
.container-size > h2 {
  font-size: 117px;
  color: #8491a0;
  margin: 0;
}
.container-size > h3 {
  font-size: 24px;
}
.google,
.facebook,
.dribbble {
  flex: 1;
}
.google span {
  color: #3cc74e;
}
.facebook span {
  color: #609bff;
}
.dribbble span {
  color: #e95d90;
}
.container-mid-section .container {
  display: flex;
  justify-content: space-between;
  background-color: #fff3e4;
}
.mid-section-text > h2 {
  margin-left: 72px;
  margin-right: 119px;
  margin-top: 120px;
  font-size: 55px;
  color: #181823;
}
.mid-section-text p {
  margin-left: 72px;
  margin-right: 72px;
  color: #5b6876;
  font-size: 18px;
}
.text {
  margin-top: 133px;
  margin-left: 72px;
}
.text > p {
  color: #000000;
  margin-left: 0;
  margin-bottom: 0;
}
.mid-section-img > img {
  height: 100%;
  object-fit: cover;
}
.mid-section-skillset .container {
  color: #ffffff;
  display: flex;
  margin-top: 120px;
  gap: 83px;
}
.skillset-container-row {
  margin-left: 72px;
}
.skillset-container-row > h2 {
  font-size: 55px;
  margin-top: 0;
}
.skillset-container-row > p {
  font-size: 18px;
  color: #8491a0;
}
.mid-section-design {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex: 1;
}
.section-design {
  flex: 1;
}
.section-design > p {
  color: #8491a0;
}
.skillset-container {
  display: flex;
  align-items: baseline;
  gap: 72px;
  margin-right: 72px;
}
.scrolling-wrapper .container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 120px;
}
.logo-bar-colum {
  display: contents;
}
.scrolling-wrapper .container::-webkit-scrollbar {
  display: none;
}
.logo-bar {
  flex: 0 0 auto;
  display: flex;
}
.logo-bar img {
  width: 340px;
  height: 140px;
}
.image .container {
  color: #ffffff;
  display: flex;
  gap: 24px;
  margin-top: 121px;
}
.container-image-row {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-left: 72px;
}
.container-image-row > p {
  color: #8491A0;
}
.container-image-row > h2 {
  font-size: 55px;
  margin-top: 0;
}
.container-image {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-right: 72px;
}
.container-design {
  background-color: #181823;
}
.container-design > h2 {
 margin-left: 32px;
 font-size: 24px;
}
.container-design > p {
 margin-left: 32px;
 font-size: 18px;
 margin-bottom: 40px;
 color: #8491A0;
}
@media screen and (max-width: 1439px) {
}
@media screen and (max-width: 1280px) {
  .text-absolute > h1 {
    font-size: 59px;
  }
  .text-absolute > p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .mid-section .container {
    padding: 0 20px;
  }
  .header .container {
    padding: 24px 20px;
    width: 90%;
  }
  .menu {
    display: none;
  }
  .menu-btn {
    display: block;
    top: 24px;
    right: 20px;
  }
  .img-absolute {
    position: relative;
    margin-top: 72px;
    width: 100%;
  }
  .hero-banner .container {
    display: flex;
    flex-direction: column;
  }
  .hero-banner-text {
    margin-left: 0;
    margin-top: -5px;
    height: auto;
  }
  .text-absolute {
    margin-top: 0;
    position: relative;
  }
  .text-absolute > h1,
  .text-absolute > p {
    margin-left: 20px;
  }
  .text-absolute > p {
    margin-bottom: 48px;
  }
  .logo-container-row > .logo {
    margin-left: -88%;
  }
  .menu-container {
    height: auto;
  }
  .container-row {
    width: 100%;
  }
  .mid-section .container .container-flex {
    flex-direction: column;
    margin-bottom: 64px;
    margin-left: 20px;
  }
  .mid-section .container > p {
    margin-top: 64px;
    margin-left: 20px;
  }
  .mid-section .container > h2 {
    margin-left: 20px;
  }
  .container-mid-section .container {
    flex-direction: column;
    height: auto;
  }
  .text {
    margin-bottom: 48px;
    margin-top: 33px;
  }
  .mid-section-text > h2,
  .mid-section-text > p,
  .text {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mid-section-text > h2 {
    margin-top: 46px;
  }
  .mid-section-img {
    height: 450px;
  }
  .mid-section-img > img {
    width: 100%;
  }
  .mid-section-skillset .container {
    flex-direction: column;
    margin-top: 64px;
    gap: 40px;
  }
  .skillset-container-row {
    margin-left: 20px;
  }
  .skillset-container {
    flex-direction: column;
    margin-left: 20px;
    gap: 40px;
  }
  .mid-section-design {
    gap: 40px;
  }
  .scrolling-wrapper .container {
    overflow-x: hidden;
    flex-direction: column;
    margin-top: 64px;
  }
  .logo-bar-colum {
    display: flex;
  }
  .logo-bar {
    flex: inherit;
  }
}
@media screen and (max-width: 768px) {
  .logo-container-row > .logo {
    margin-left: 20px;
  }
}
@media screen and (max-width: 576px) {
  .text-absolute > h1 {
    font-size: 32px;
  }
  .mid-section .container > h2 {
    font-size: 32px;
  }
  .mid-section-text > h2 {
    font-size: 32px;
  }
  .skillset-container-row > h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 420px) {
}
